#!/usr/bin/env bash

# create a new directory and cd into it.
function mkcd() {
    mkdir -p "$@" && cd "$_"
}

# delete a linode by id
function rml() {
    local id=$1
    linode-cli linodes delete $id
    echo "deleted linode ($id)..."
}

